{% extends 'base.html' %}
{% block title %}
<title>Completed Todos</title>
{% endblock title %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="add_todo">ADD TODO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link navbar-brand active " aria-current="page" href="uncomplete_todos">Uncomplete
                        Todos</a>
                </li>

            </ul>
            <form action="/logout" class="d-flex">

                <button class="btn btn-md btn-danger" type="submit">LOGOUT</button>
            </form>
        </div>
    </div>
</nav>
<!-- table secction -->

<div class="table-responsive container-fluid  shadow-sm p-3 mb-5 border-info bg-body bg-dark rounded">
    <table class="container-fluid table-responsive{-sm|-md|-lg|-xl|-xxl} table-responsive-dark table-bordered table-responsive-striped text-wrap "
        style=" word-wrap: break-word; color: white; font-size: 2vw; ">

        <thead>
            <tr>
                <th colspan="4">
                <h3 style="font-size: 4vw; text-align: center" >List of
                        Completed Todos</h3> 
                </th>
            </tr>
            </tr>
            <tr>
                <th style="text-align: center;" scope="col">Sno</th>
                <th style="text-align: center;" scope="col">Title</th>
                <th scope="col">Description</th>
                <th style="text-align: center;" scope="col">Date Created</th>
            </tr>
        </thead>
        {% for data in completed_todos %}
        <tbody style="text-align: center;">
            <tr>
                <td scope="row">{{loop.index}}</td>
                <td style="text-align: left; padding-left: 20px;">{{ data.title }}</td>
                <td style="text-align: left; ">{{ data.des}}</td>
                <td class="text-align: center;">{{ data.datecreated }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock content %}