{% extends 'base.html' %}
{% block title %}
<title>Completed Todos</title>
{% endblock title %}

{% block content %}

<nav class="navbar navbar-dark ">
    <a href="add_todo">
        <li class=" login100-form-btn">Add Todo</li>
    </a>
    <a href="uncomplete_todos">
        <li class=" login100-form-btn">Uncomplete Todos</li>
    </a>
    <a href="logout">
        <li class="login100-form-btn">Logout</li>
    </a>
</nav>
<!-- table secction -->

<div class="container-fluied m-3 mt-5 mb-0 border" style="border-color: white;">
    <table class="table table-dark table-striped  col-lg-12 col-sm-12 col-md-12">
        <thead>
            <tr>
                <h1 class="m-1" style="background-color: white; text-align: center; color: rgb(5, 5, 5);">List of Completed Todos</h1>
            </tr>
            <tr>
                <th style="text-align: center;" scope="col">Sno</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        {% for data in completed_todos %}
        <tbody style="text-align: center;">
            <tr>
                <td scope="row">{{loop.index}}</td>
                <td style="text-align: left;">{{ data.title }}</td>
                <td style="text-align: left;">{{ data.des}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock content %}