{% extends 'base.html' %}
{% block title %}
<title>Uncomplete Todos</title>
{% endblock title %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="add_todo">ADD TODO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link navbar-brand active " aria-current="page" href="completed_todos">Completed
                        Todos</a>
                </li>

            </ul>
            <form action="/logout" class="d-flex">

                <button class="btn btn-md btn-danger" type="submit">LOGOUT</button>
            </form>
        </div>
    </div>
</nav>


<!-- table secction -->
<div class=" mt-5 container ">
    <table class="container table  table-container table-dark table-bordered table-striped text-wrap "
        style=" word-wrap: break-word;">
        <thead>
            <tr>
                <th colspan="6">
                    <h1 style="margin: 0px; background-color: white; text-align: center; color: rgb(5, 5, 5);">List of
                        Uncompleted Todos</h1>
                </th>
            </tr>
            <tr>
                <th style="text-align: center; " scope="col">Sno</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th style="text-align: center;" scope="col">Date Created</th>
                <th style="text-align: center;" scope="col">Task Completed</th>
                <th style="text-align: center;" scope="col">Action</th>
            </tr>
        </thead>
        {% for data in uncomplete_todos %}
        <tbody style="text-align: center;">
            <tr>
                <td scope="row">{{loop.index}}</td>
                <td style="text-align: left;">{{ data.title }}</td>
                <td class="word-wrap" style="text-align: left; height: auto;">{{ data.des}}</td>
                <td class="text-align: center;">{{ data.datecreated }}</td>
                <!-- checkbox -->
                <td>

                    <form action="/set_complete_true/{{data.id}}" method="POST">
                        <input type="checkbox" id="checkbutton" onclick="redirect()"
                            style="width: initial; height: initial; " />

                        <input id="checkboxsubmit" type="submit" value="">
                    </form>

                    <form action="/cancelonclick" method="POST">
                        <input id="return" value="" type="submit">
                    </form>
                <td>
                    <div style="  display: inline-flex;">
                        <form action="/delete/{{ data.id }}" method="POST">
                            <input type="hidden" name="DELETE">
                            <input type="submit" value="DELETE" class="btn btn-danger btn-sm"
                                onclick="return confirm('Are you sure you want to delete this Todo?');">
                        </form>
                        <form action="/update/{{data.id}}" method="POST" style="float: right;">
                            <input type="submit" class="btn btn-success btn-sm" value="UPDATE">
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function redirect() {
        if (confirm('Is this todo is completed?')) {
            $('#checkboxsubmit').trigger('click');
        }
        else {
            $('#return').trigger('click');
        }
    }
</script>
{% endblock content %}