{% extends 'base.html' %}
{% block title %}
<title>Add Todo</title>
{% endblock title %}

{% block content %}

<div class="container-login100">
    <form action="/update/{{ data.id }}" method="POST"
        style="padding: 0;  align-items: center; background-color: white;" class="col-lg-8 col-sm-10 col-md-8 col-10">
        <div class="container" style="background-color: rgb(9, 13, 228); color: rgb(248, 244, 244); padding: 10px;">
            <a href="/uncomplete_todos" style="float: right; margin: -10px -10px 0px 0px;  padding: 8px 25px 8px 25px; "
                type="button" class="btn-close btn-lg btn-danger" aria-label="Close">
            </a>

            <h2 style="margin: 0;">UPDATE YOUR TODO</h2>
        </div>

        <div class="container">
            <div class="m-2">
                <strong><label for="">Title</label></strong>
                <input type="text" required class="form-control" value="{{ data.title }}" name="title"
                    placeholder="Enter Title">
            </div>
            <div class="m-2">
                <strong><label for="">Description</label></strong>
                <input type="text" required placeholder="Enter Description" value="{{ data.des }}" name="des"
                    class="form-control">
            </div>
            <button type="submit" class="btn btn-primary btn-md mt-3 m-2 login100-form-btn">Update</button>
        </div>
    </form>
</div>
{% endblock %}